# Ignore virtual environments
venv/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore documentation and test files
unrelated/

test*.py

.env

checkpoints/

result_batch_with_keywords.json
result_batch_without_keywords.json
result_single_with_keywords.json
result_single_without_keywords.json

